@import "tailwindcss";

body{
  background-color: black;
}

.over::-webkit-scrollbar-thumb{
  border-radius: 6px;
  background: black;
}

.over::-webkit-scrollbar{
  width: 5px;
  height: 6px;
}

.over::-webkit-scrollbar-track{
  border-radius: 10px;
  background: cyan;
}